<section id="port" class="w-full bg-primary ">
    <div class="pt-20">
        <div class="relative w-full h-28 md:h-40 bg-cover bg-center" style="background-image: url('/images/about.webp');">
            <!-- Overlay -->
            <div class="absolute inset-0 bg-black opacity-85"></div>
            <div class="absolute inset-0 flex justify-center items-center">
                <h1 class="font-light font-poppins text-2xl md:text-2xl text-white">Ronny</h1>
            </div>
        </div>
    </div>

    <div class="container mt-10 flex flex-col items-center gap-8">
        <div class="flex items-center text-center" > <p class=" flex items-center text-sm md:text-lg font-extralight font-poppins">Designer e desenvolvedor dedicado, com anos de experiência, capacitando empresas e profissionais para se destacarem em um mercado competitivo. Meu foco vai além da estética impressionante; busco alcançar resultados por meio de design estratégico e singular.</p> </div>
        <button class="font-bold bg-second w-60 h-12 rounded-sm">Desenvolver meu Projeto</button>
    </div>
  </section>