<section id="about" class="w-full bg-black">
    <div class="bg-white w-full h-6 rounded-b-[14rem]"></div>


  <div class="py-32">
    <div class="">
      
      <div class=" w-full h-48 container relative">
        <div class="bg-black/70 absolute z-20 w-full h-full rounded-3xl"></div>
        <div class="thumbnail rounded-3xl bg-[url('/images/about.png')] bg-center bg-cover w-full h-full bg-fixed relative flex items-center justify-center text-4xl font-poppins"> <h1 class="relative z-40">Sobre</h1> </div>
      </div>
    </div>

    <div class="container flex flex-col items-center gap-8">
      <div class="flex items-center text-center" > <p class="leading-loose flex items-center text-sm md:text-lg font-extralight font-poppins">Designer e desenvolvedor dedicado, com anos de experiência, capacitando empresas e profissionais para se destacarem em um mercado competitivo. Meu foco vai além da estética impressionante; busco alcançar resultados por meio de design estratégico e singular.</p> </div>
      <a class="px-8 py-2 border border-red-500 bg-red-500" href="">Desenvolver meu Projeto</a>
    </div>
  </div>
  </section>




  
  <script>


  </script>