<section id="about" class="w-full bg-black py-20">
    <div class="pt-20">
        <div class="relative w-full h-40 md:h-52 bg-cover bg-center" style="background-image: url('/images/about.png');">
            <!-- Overlay -->
            <div class="absolute inset-0 bg-black opacity-75"></div>
            <div class="absolute inset-0 flex justify-center items-center">
                <h1 class="font-light font-poppins text-2xl md:text-2xl text-white">Sobre</h1>
            </div>
        </div>
    </div>

    <div class="container mt-10 flex flex-col items-center gap-8">
        <div class="flex items-center text-center" > <p class="leading-loose flex items-center text-sm md:text-lg font-extralight font-poppins">Designer e desenvolvedor dedicado, com anos de experiência, capacitando empresas e profissionais para se destacarem em um mercado competitivo. Meu foco vai além da estética impressionante; busco alcançar resultados por meio de design estratégico e singular.</p> </div>
        <a class="px-8 py-2 border border-red-500 bg-red-500" href="">Desenvolver meu Projeto</a>
    </div>
  </section>