<section class="bg-primary w-full h-[1000px]">
  <div class="py-10 container">
    <div>
      <h1>CONTATO</h1>
    </div>
    
    <form id="contactForm" class=" p-4 shadow-md rounded-md w-96">
      <div class="mb-4">
          <label for="name" class="block mb-1">Nome:</label>
          <input type="text" id="name" name="name" placeholder="Seu nome" required class="w-full px-4 py-2 border rounded-sm bg-transparent focus:outline-none focus:border-blue-500 border-gray-300">
      </div>
      <div class="mb-4">
          <label for="email" class="block mb-1">Email:</label>
          <input type="email" id="email" name="email" placeholder="Seu email" required class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 bg-transparent">
      </div>
      <div class="mb-4">
          <label for="message" class="block mb-1">Segmento</label>
          <textarea id="message" name="message" placeholder="" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 bg-transparent"></textarea>
      </div>
      <button type="submit" class="w-full bg-second text-white px-4 py-2 rounded-md hover:bg-transparent focus:outline-none hover:border transition duration-300">Desenvolver meu Projeto</button>
  </form>
  
  </div>
</section>
