---
import Slide from "./Slide.astro";
import Star from "./Star.astro";
---

<section id="port" class="w-full bg-offwhite">
  <div class="flex flex-col gap-10 py-20">
    <div class="container flex flex-col items-center gap-2">
      <h1
        class="text-4xl text-offblack font-albert tracking-widest font-medium uppercase font-poppins"
      >
        Serviços
      </h1>
      <div class="bg-offblack w-52 h-[2px] rounded-md"></div>
    </div>

    <div class="flex flex-col gap-16">
      <div class="flex flex-col">
        <div class="container flex flex-col gap-4">

          <div class="font-poppins font-light flex justify-between items-center">
            <div class="text-offblack border-b border-offblack">
              <h3 class="text-md font-light tracking-wide text-center">
                Social media
              </h3>
            </div>
            <h4 class="text-[10px] font-extralight">By: RonnyD</h4>
          </div>

          <div class="">
            <Slide />
          </div>
        </div>
      </div>

      
    </div>
  </div>

  
</section>
