


<div id="header" class="fixed right-0 left-0 flex h-24 top-0" >
  <header  class=" relative flex flex-col container pt-6 md:pt-0 gap-4 md:flex-row md:justify-between md:mt-0 md:items-center ">
    <div class="flex justify-between items-center ">
        <svg class="w-14" id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 379.31 267.53">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                  stroke-width: 0px;
                }
              </style>
            </defs>
            <path class="cls-1" d="M376.04,202.03l-46.72,63.73c-.82,1.11-2.11,1.77-3.5,1.77H53.33c-1.38,0-2.68-.66-3.5-1.78L3.26,202.02c-3.14-4.3-.07-10.34,5.25-10.34h362.28c5.32,0,8.39,6.05,5.24,10.34Z"/>
            <path class="cls-1" d="M374.97,166.27H4.34c-3.55,0-5.59-4.03-3.5-6.9l49.23-67.17c.82-1.11,2.11-1.77,3.5-1.77h271.05c2.07,0,4.02.99,5.24,2.66l48.6,66.29c2.1,2.86.05,6.9-3.5,6.9Z"/>
            <path class="cls-1" d="M85.4,58.08L127.44,1.74c.82-1.1,2.11-1.74,3.47-1.74h117.48c1.37,0,2.66.65,3.47,1.74l42.05,56.34c2.13,2.86.09,6.93-3.47,6.93H88.87c-3.57,0-5.61-4.07-3.47-6.93Z"/>
          </svg>
      <div id="btn" class="flex flex-col gap-[5px] md:hidden cursor-poin">
        <div class="w-[32px] h-[3px] bg-white"></div>
        <div class="w-[32px] h-[3px] bg-white"></div>
        <div class="w-[32px] h-[3px] bg-white"></div>        
      </div>
    </div>

    <nav id="menu" class="absolute md:right-0 md:relative card md:top-0 top-[70px] w-full border border-white md:flex md:border-none md:w-auto hidden ">
      <ul class="flex flex-col font-medium md:font-extralight gap-4 font-roboto ml-3 p-2 md:flex-row md:gap-8">
          <li><a class="" href="">Portfólio</a></li>
          <li><a href="">Sobre</a></li>
          <li><a href="">Processos</a></li>
          <li><a href="">Contato</a></li>   
      </ul>
  </nav>
  
  </header>
</div>
