


<header id="header" class="absolute left-0 right-0 flex flex-col md:container gap-4 md:flex-row md:justify-between md:mt-0 md:items-center pt-8 blurred">
  <div class="flex justify-between items-center container">
    <img class="w-16" src="./images/logo.png" alt="">
    <div id="btn" class="flex flex-col gap-[5px] md:hidden cursor-pointer">
      <div class=" line w-[32px] h-[3px] bg-white"></div>
      <div class=" line w-[32px] h-[3px] bg-white"></div>
      <div class=" line w-[32px] h-[3px] bg-white"></div>        
    </div>
  </div>

  <div class="menu relative flex items-center h-44 md:h-0 overflow-hidden md:overflow-visible">
    <nav id="menu" class="nav w-[370px] card border border-white md:flex md:border-none md:w-auto bg-[#262626] md:bg-transparent">
      <ul class="grid grid-cols-2  md:flex flex-col font-light md:font-extralight gap-4 font-roboto ml-3 p-2 md:flex-row md:gap-8 md:ml-0 md:p-0">
        <li><a class="list" href="#port">Portfólio</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#pro">Processos</a></li>
        <li><a href="">Contato</a></li>   
      </ul>
    </nav>
  </div>
</header>
