

  <header  class="absolute left-0 right-0 flex flex-col container gap-4 md:flex-row md:justify-between md:mt-0 md:items-center pt-8">
    <div class="flex justify-between items-center ">
      <img class="w-16" src="./images/logo.png" alt="">
      <div id="btn" class="flex flex-col gap-[5px] md:hidden cursor-pointer">
        <div class="w-[32px] h-[3px] bg-white"></div>
        <div class="w-[32px] h-[3px] bg-white"></div>
        <div class="w-[32px] h-[3px] bg-white"></div>        
      </div>
    </div>

    <nav id="menu" class=" w-full card border border-white md:flex md:border-none md:w-auto hidden">
      <ul class="flex flex-col font-medium md:font-extralight gap-4 font-roboto ml-3 p-2 md:flex-row md:gap-8 md:ml-0 md:p-0">
          <li><a class="" href="">Portfólio</a></li>
          <li><a href="">Sobre</a></li>
          <li><a href="">Processos</a></li>
          <li><a href="">Contato</a></li>   
      </ul>
  </nav>
  
  </header>

