---
import Slide from "./Slide.astro";
---

<section class="containe h-screen">
  <div class="md:flex justify-center md:pt-32">
    <div class="flex flex-col justify-center items-center pt-20">
      <div class="flex flex-col items-center">
        <div class="flex flex-col items-center md:flex md:flex-col md:gap-6">
          <h1 class="text-4xl font-poppins font-bold md:hidden">RONNY</h1>
          <h1 class="text-7xl font-poppins font-bold md:text-7xl md:hidden">
            OLIVEIRA
          </h1>
          <h1 class="text-7xl font-poppins font-bold hidden md:block">
            RONNY ELOY
          </h1>
          <div class="flex mt-5 md:mt-[-16px] text-sm md:text-md font-thin">
            <h1 class="tracking-[10px] font-roboto" id="element"></h1>
          </div>
        </div>
        <p
          class="text-center mt-9 md:mt-15 md:w-[680px] font-poppins font-extralight md:text-[18px]"
        >
          Design e desenvolvimento de sites, criando espaços digitais e
          experiências fluidas.
        </p>

        <div
          class="bg-second transition duration-300 w-48 h-12 text-2xl font-poppins flex items-center justify-center rounded-md mt-10 font-medium md:hover:bg-transparent md:hover:border border-white cursor-pointer"
        >
          <h1>Contato</h1>
        </div>
      </div>
    </div>
  </div>
</section>
