

<section class="flex justify-center rounded-b-xl relative z-40 h-[62rem] md:h-[50rem] xl:h-[67rem]">

  <div class=" absolute bg-[url('/images/back.png')] bg-center bg-cover w-full -z-40 inset-0 rounded-b-[6rem] bg-fixed"></div>

  <div class=" absolute bg-black/65 bg-center bg-cover w-full -z-40 inset-0 rounded-b-[6rem]"></div>

    <div class="flex flex-col justify-center items-center container">
      <div class="flex flex-col items-center gap-10">
        <div class="flex flex-col items-center md:flex md:flex-col md:gap-6">
          <h1 class="text-4xl font-poppins font-bold md:hidden">RONNY</h1>
          <h1 class="text-7xl font-poppins font-bold md:text-7xl md:hidden">
            OLIVEIRA
          </h1>
          <h1 class="text-7xl font-poppins font-bold hidden md:block">
            RONNY ELOY
          </h1>
          <div class="flex mt-5 md:mt-[-16px] text-sm md:text-md font-light">
            <h1 class="tracking-[10px] font-roboto" id="element"></h1>
          </div>
        </div>
        <p class="text-center md:w-[680px] font-poppins font-extralight md:text-lg container" >
          Design e desenvolvimento de sites, criando espaços digitais e
          experiências fluidas.
        </p>

        <div class="flex items-center border-2 border-white group relative overflow-hidden rounded-lg transition-all duration-700 ">
          <a class="px-14 py-2 rounded-lg transition-all duration-700 md:text-xl text-offblack hover:text-white" href="">Contato</a>
          <span class="absolute h-16 -bottom-0 w-[20rem] group-hover:bottom-[-5rem] transition-all duration-700 ease-in-out bg-white -z-10 "></span>   
        </div>
      </div>
    </div>
  
</section>
