---
import SlideHA from "./SlideHA.astro";
---

<section class="w-full h-[700px] bg-primary">
  <div class="">
    <div class="container flex justify-center">
      <h1 class="text-2xl p-10 font-albert tracking-[10px] font-bold"> PORTFÓLIO</h1>
    </div>
    <div class="container  flex flex-col gap-y-4">
      <div class="font-poppins font-light flex justify-between">
        <div class="border-b-2 border-gray-500  rounded-br-md w-[130px] flex justify-start">
          <h3 class="text-md font-light text-center">Hamburgueria</h3>
        </div>
        
        <h3>By: Ronny Dsgn</h3>
      </div>
      <div class="">
        <SlideHA/>
      </divc>
    </div>
  </div>
</section>
