---
import Slide from "./Slide.astro";
---

<section class="w-full h-[700px] bg-primary">
  <div class="">
    <div class="container flex justify-center">
      <h1 class="text-2xl p-10 font-albert tracking-[10px] font-light"> PORTFÓLIO</h1>
    </div>
    <div class="container  flex flex-col gap-y-4">
      <div class="font-poppins font-light flex justify-between">
        <h3>Hamburgueria</h3>
        <h3>By: Ronny Dsgn</h3>
      </div>
      <div class="">
        <div class="swiper mySwiper ">
          <div class="swiper-wrapper h-[330px] ">
            <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('/images/we.jpeg');"></div>
            <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('/images/we.jpeg');"></div>
            <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('/images/we.jpeg');"></div>
            <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('/images/we.jpeg');"></div>
            <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('/images/we.jpeg');"></div>
            <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('/images/we.jpeg');"></div>
            
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </divc>
    </div>
  </div>
</section>
