<section class="pt-20 w-full h-[1000px] bg-primary flex flex-col gap-10">
    <div class="bg-[#0c0c0c] flex flex-col gap-6 py-6">
        <div class="container flex flex-col gap-y-4">
            <div class="font-poppins font-light flex justify-between items-center">
                <div class="border-b border-gray-500 rounded-br-md w-[154px] flex justify-start">
                    <h3 class="text-2xl font-medium text-center">PROCESSOS</h3>
                </div>
                <div>
                    <h4 class="text-[14px] font-extralight">Entenda como funciona</h4>
                    <h4 class="text-[14px] font-extralight">cada etapa para que o seu</h4>
                    <h4 class="text-[14px] font-extralight">projeto seja desenvolvido</h4>
                    <h4 class="text-[14px] font-extralight">com maestria.</h4>
                </div>
            </div>
        </div>
    
        <div class="accordion container flex flex-col ">
            <div class="accordion-item">  <!-- 1 -->
              <div class="accordion-header px-3 py-3 w-full cursor-pointer rounded-sm bg-primary flex justify-between items-center">
                <div class="flex items-center gap-3 text-sm md:text-md">
                    <h2 class="font-roboto">1</h2>
                    <div class="border-l h-4"></div>
                    <h2 class="tracking-[6px] font-roboto font-normal ">BRIEFING</h2>
                </div>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div class="accordion-content my-2 "> <p>Nessa primeira etapa, buscamos conhecer a sua empresa mais a fundo, entendendo os seus principios, valores e objetivos, para que assim, sejamos ainda mais assertivos no desenvolvimento do projeto.</p> </div>
            </div>
            <div class="accordion-item"><!-- 2 -->
              <div class="accordion-header px-3 py-3 w-full cursor-pointer rounded-sm bg-[#222424] flex justify-between items-center">
                <div class="flex items-center gap-3 text-sm md:text-md">
                    <h2 class="font-roboto">2</h2>
                    <div class="border-l h-4"></div>
                    <h2 class="tracking-[6px] font-roboto font-normal">DESENVOLVIMENTO</h2>
                </div>
                
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div class="accordion-content my-2"> <p>Após alinharmos tudo, entramos na fase de desenvolvimento dos materiais, buscando manter o mais alto nível de qualidade, agilidade e foco no objetivo final. </p> </div>
            </div>
            <div class="accordion-item"><!-- 3 -->
              <div class="accordion-header px-3 py-3 w-full cursor-pointer rounded-sm bg-[#222424] flex justify-between items-center">
                <div class="flex items-center gap-3 text-sm md:text-md">
                    <h2 class="font-roboto">3</h2>
                    <div class="border-l h-4"></div>
                    <h2 class="tracking-[6px] font-roboto font-normal">ALINHAMENTO</h2>
                </div>
                
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div class="accordion-content my-2"> <p>Aqui é feito o alinhamento de todo o material juntamente ao cliente, para que possamos ter um design altamente eficiente. É nessa etapa onde faremos todos os ajustes finais para que o projeto fique 100%.</p> </div>
            </div>
            <div class="accordion-item"><!-- 4 -->
              <div class="accordion-header px-3 py-3 w-full cursor-pointer rounded-sm bg-[#222424] flex justify-between items-center">
                <div class="flex items-center gap-3 text-sm md:text-md">
                    <h2 class="font-roboto">4</h2>
                    <div class="border-l h-4"></div>
                    <h2 class="tracking-[6px] font-roboto font-normal">ENTREGA</h2>
                </div>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div class="accordion-content my-2"> <p>Após o desenvolvimento e alinhamento de todo o material, realizamos a entrega de forma simples e eficiente.</p> </div>
            </div>
            
          </div>
    </div>
      
      
</section>
