<div class="swiper mySwiper ">
  <div class="swiper-wrapper h-[364px] ">
    <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('./images/we.jpeg');"></div>
    <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('./images/we.jpeg');"></div>
    <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('./images/we.jpeg');"></div>
    <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('./images/we.jpeg');"></div>
    <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('./images/we.jpeg');"></div>
    <div class="swiper-slide bg-cover bg-center rounded-md" style="background-image: url('./images/we.jpeg');"></div>
    
  </div>
  <div class="swiper-pagination"></div>
</div>