---
import Services from "./Services.astro";
---




<div class="swiper mySwiper">
  <div class="swiper-wrapper h-96 ">

    <div class="swiper-slide">
      <Services
      image="miniatura.png"
      title="Hamburguerias"
      paragraph=" lorem "
      />
    </div>
    <div class="swiper-slide">
      <Services
      image="miniatura.png"
      title="Hamburguerias"
      paragraph=" lorem "
      />
    </div>

    <div class="swiper-slide">
      <Services
      image="miniatura.png"
      title="Hamburguerias"
      paragraph=" lorem "
      />
    </div>

    <div class="swiper-slide">
      <Services
      image="miniatura.png"
      title="Hamburguerias"
      paragraph=" lorem "
      />
    </div>
    
  </div>
</div>


<script>
  import Swiper from "swiper";

// Inicialize o Swiper
const swiper = new Swiper(".mySwiper", {
  loop: true,
  spaceBetween: 20,
  autoplay: {
    delay: 2000,
    disableOnInteraction: true,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  speed: 2000,
  breakpoints: {
    // Quando a tela é menor ou igual a 480px
    480: {
      slidesPerView: 1,
      spaceBetween: 10,
    },
    // Quando a tela é menor ou igual a 768px
    768: {
      slidesPerView: 2,
      spaceBetween: 20,
    },
    // Quando a tela é maior que 768px
    1024: {
      slidesPerView: 3,
      spaceBetween: 20,
    },
  },
});
</script>