---
import Slide from "./Slide.astro";
import Star from "./Star.astro";
---

<section id="port" class="w-full bg-offwhite">
  <div class="flex flex-col gap-10">
    <div class="flex flex-col gap-14 py-14">
      <div class="container flex flex-col items-center gap-2">
        <h1
          class="text-4xl text-offblack font-albert tracking-widest font-medium uppercase font-poppins"
        >
          Serviços
        </h1>
        <div class="bg-offblack w-52 h-[2px] rounded-md"></div>
      </div>
  
      <div class="flex flex-col gap-16">
        <div class="flex flex-col">
          <div class="container flex flex-col gap-4">
            <div
              class="font-poppins font-light flex justify-between items-center"
            >
              <div class="text-offblack border-b border-offblack">
                <h3 class="text-md font-light tracking-wide text-center">
                  Social media
                </h3>
              </div>
              <h4 class="text-[10px] font-extralight text-offblack">By: RonnyD</h4>
            </div>
            <div class="">
              <Slide />
            </div>
          </div>
        </div>
  
      </div>
    </div>

    <div class="w-full bg-white ">
      <div class="bg-offwhite 2-full h-8 rounded-b-[14rem]"></div>
      <div class="py-20 w-full">
        <div class="shadow-xl lg:grid lg:grid-cols-2 container rounded-lg">
          <div>
            <div class="relative">
              <div class="swiper mySwiper1">
                <div class="swiper-wrapper h-[36rem] ">
                  <div id="1" class="rounded-lg swiper-slide bg-[url('/images/fruvita.png')] bg-cover bg-center relative p-8">
                    <h1 class="md:hidden absolute font-semibold font-poppins tracking-wide bg-white text-offblack px-10 py-2 rounded-lg">Fruvita</h1>
                  </div>
                  <div id="2" class="rounded-lg swiper-slide bg-[url('/images/back.png')] bg-cover bg-center relative">
                    <h1 class="md:hidden absolute font-semibold font-poppins tracking-wide bg-white text-offblack px-10 py-2 rounded-lg">Sky</h1>
                  </div>
                </div>
              </div>
              <div class="absolute bottom-8 left-14 flex justify-center md:px-0 lg:px-0 text-2xl z-40">
                <div class="w-20 flex justify-between">
                  <div class="button-prev flex items-center p-4 cursor-pointer group bg-white group lg:hover:bg-offblack transition-all shadow-lg duration-300 -ml-6 rounded-xl">
                    <i class="fa-solid fa-chevron-left lg:group-hover:scale-125 text-offblack lg:group-hover:text-white transition-all duration-1000"></i>
                  </div>
                  <div class="button-next flex items-center p-4 cursor-pointer group bg-white group lg:hover:bg-offblack transition-all shadow-lg duration-300 -mr-6 rounded-xl">
                    <i class="fa-solid fa-chevron-right lg:group-hover:scale-125 text-offblack lg:group-hover:text-white transition-all duration-1000"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="hidden md:block">
            <div class="div-a px-14 py-28 ">
              <div class="text-offblack flex flex-col gap-8 font-poppins">
                <h1 class="text-6xl font-semibold tracking-wide">Fruvita</h1>
                <p class="font-light text-sm leading-8 border-l-4 border-orange pl-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo optio maxime, facilis quos modi eligendi magnam itaque. Ex, eius aspernatur? </p>
              </div>
    
              <a class="inline-block mt-10 px-10 py-2 bg-offblack border rounded-md border-offblack hover:bg-white hover:text-offblack transition-all duration-300" href=""> Faça seu Orçamento </a>
            </div>
            
            <div class="hidden div-b px-14 py-28 ">
              <div class="text-offblack flex flex-col gap-8 font-poppins">
                <h1 class="text-6xl font-semibold tracking-wide">Sky</h1>
                <p class="font-light text-sm leading-8 border-l-4 border-orange pl-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo optio maxime, facilis quos modi eligendi magnam itaque. Ex, eius aspernatur? </p>
              </div>
    
              <a class="inline-block mt-10 px-10 py-2 bg-offblack border rounded-md border-offblack hover:bg-white hover:text-offblack transition-all duration-300" href=""> Faça seu Orçamento </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  
</section>
