




<div class="swiper mySwiper1">
  <div class="swiper-wrapper h-[36rem]">
    <div class="swiper-slide bg-cover bg-center rounded-sm bg-[url('/images/back.png')]"></div>
    <div class="swiper-slide bg-cover bg-center rounded-sm bg-[url('/images/back.png')]"></div>
    <div class="swiper-slide bg-cover bg-center rounded-sm bg-[url('/images/back.png')]"></div>
  </div>
  <div class="swiper-pagination"></div>
</div>


<script>
  import Swiper from "swiper";

  var swiper1 = new Swiper(".mySwiper1", {
    slidesPerView: 1,
    loop: true,
    spaceBetween: 20,
    autoplay: {
    delay: 2000,
    disableOnInteraction: true,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    speed: 2000,
 
  });
</script>