---
import "@fontsource/twinkle-star";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ronny Oliveiraas</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="shortcut icon" href="./images/ico.ico" type="image/x-icon">
		<link
			rel="stylesheet"
			href="../../node_modules/swiper/swiper-bundle.min.css"
		/>
	</head>
	<body class="relative bg-cover bg-center text-white">
    <div class="relative h-screen">
      <video muted loop class="absolute inset-0 object-cover w-full h-full" poster="./images/poster.png">
        <source src="./videos/leve.mp4" type="video/mp4">
      </video>
      <div class="absolute inset-0 bg-gradient-to-tr from-black via-opacity-5 to-transparent"></div>
      <div class="absolute inset-0 bg-gradient-to-br from-black via-opacity-5 to-transparent"></div>
      
      <div class="absolute inset-0 bg-black opacity-0"></div>
      <div class="relative z-10">
        <slot />
      </div>
    </div>
	</body>
</html>


<script>
	import "flowbite";
	import Swiper from "swiper";
  	import Typed from 'typed.js';

	var swiper = new Swiper(".mySwiper", {
		slidesPerView: 3,
		spaceBetween: 30,
		freeMode: true,
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
	});

  const typed = new Typed('#element', {
  strings: ['DESIGN', 'ESTRÁTEGIA' , 'RESULTADO'],
  typeSpeed: 150,
  backSpeed: 50,
  loop: true,
  backDelay: 3000,
});

const header = document.getElementById('header');
const menu = document.getElementById('menu');

function toggleBlur() {
    const shouldBlur = window.scrollY > 0;
    header.classList.toggle('header-blur', shouldBlur);
}

function adjustHeaderHeight() {
    const isMenuVisible = !menu.classList.contains('hidden');
    if (isMenuVisible) {
        header.style.height = '300px';
        menu.classList.remove('translate-y-full');
        menu.classList.add('translate-y-0');
    } else {
        header.style.height = ''; // Voltar à altura padrão
        menu.classList.remove('translate-y-0');
        menu.classList.add('translate-y-full');
    }
}

window.addEventListener('scroll', toggleBlur);

const btn = document.getElementById('btn');

btn.addEventListener('click', function() {
    menu.classList.toggle('hidden');
    adjustHeaderHeight(); // Chama a função para ajustar a altura do cabeçalho
});

menu.addEventListener('transitionend', adjustHeaderHeight);

</script>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


	ul li a{
		position: relative;
	}

	ul li a::after{
		content: "";
		width: 0%;
		height: 2px;
		background-color: #EB3850;
		position: absolute;
		bottom: -8px;
		left: 0;
		right: 0;
		border-radius: 2px;
		transition: 0.5s ease-in-out;
	}

	ul li a:hover::after{
		width: 100%;
	}

	.list::after{
		content: "";
		width: 100%;
		height: 2px;
		background-color: #EB3850;
		position: absolute;
		bottom: -8px;
		left: 0;
		right: 0;
		border-radius: 2px;
		transition: 0.5s ease-in-out;
	}

	#header{
		transition: backdrop-filter 0.3s ease-in-out;
	}
	#toggle{
		transition: backdrop-filter 0.3s ease-in-out;
	}

	
	.header-blur {
    backdrop-filter: blur(10px); 
}



</style>
